*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
header{
    padding: 0 50px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
header .navbar{
    padding: 30px 0;
}
header .navbar a img{
    height: 60px;
    width: 100%;
}
.menu .nav-item {
    margin: 0 15px;
}
.collapse .menu .nav-item .nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
    display: inline-block;
    transition: all 0.3s;
}
.collapse .menu .nav-item:hover .nav-link{
    color: #FD4766;
}
.header__btn{
    margin-left: 50px;
}
.header__btn a{
    border: 2px solid #ffffff33;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
}
.header__btn a:hover{
    border: 2px solid #FD4766;
    background-color: #FD4766;
}
.dropdown {
    position: relative;
}
.dropdown > .dropdown__item{
    min-width: 240px;
    height: auto;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    box-shadow: 0 0 35px rgb(0 0 0 / 10%);
    text-align: left;
    padding: 12px 0;
    border-radius: 4px;
    transition: all 0.3s;
}
.dropdown:hover > .dropdown__item{
    opacity: 1;
    visibility: visible;
}
.dropdown > .dropdown__item a{
    font-weight: 500;
    padding: 5px 20px;
    font-size: 14px;
    display: block;
    color: #1f1f25;
    margin: 0 10px;
    border-radius: 3px;
    transition: all 0.3s;
}
.dropdown > .dropdown__item li:hover a{
    transition: all 0.3s;
    background-color: #f9004d12;
    color: #FD4766;
}

/* carousel */
.carousel-indicators li{
    width: 6px;
    height: 6px;
    margin-left: 11px;
    border-radius: 50%;
    border:none;
}
.carousel-indicators li.active{
    border: 2px solid #FD4766;
    background-color: transparent;
}
.carousel-item{
    background-size: cover;
    height: 100vh;
    background-position: center;
}
.carousel-item:nth-child(1){
    background-image: url(../img/bg-image-22.jpg);
}
.carousel-item:nth-child(2){
    background-image: url(../img/bg-image-23.jpg);
}
.carousel-item:nth-child(3){
    background-image: url(../img/bg-image-24.jpg);
}
.carousel-item:nth-child(4){
    background-image: url(../img/bg-image-20.jpg);
}
.carousel-inner .carousel-item .carousel-caption h1{
    color: #ffffff;
    font-size: 100px;
    font-weight: 900;
}
.carousel-inner .carousel-item .carousel-caption p{
    color: #ffffff;
    font-size: 24px;
    padding: 0 16%;
    font-weight: 300;
    margin-bottom: 30px;
}
.carousel__btn a{
    border: 2px solid #ffffff33;
    background-color: #FD4766;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
}
.carousel__btn a:hover{
    border: 2px solid #FD4766;
    color: #FD4766;
    background-color: transparent;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
}
.carousel .carousel-control-prev,
.carousel .carousel-control-next{
    width: 68px;
    height: 68px;
    top: 50%;
    border-radius: 50%;
    transition: all 0.5s;
    border: 2px solid #ffffff33;
}
.carousel .carousel-control-prev{
    left: 50px;
}
.carousel .carousel-control-prev:hover{
    left: 30px;
    background-color: #FD4766;
    border: #FD4766;
}
.carousel .carousel-control-next{
    right: 50px;
}
.carousel .carousel-control-next:hover{
    right: 30px;
    background-color: #FD4766;
    border: #FD4766;
}

/* service */
#service{
    padding:120px 0;
}
.service__title{
    text-align: center;
    margin-bottom: 30px;
}
.service__title span{
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%,#FD4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.service__title h2{
    font-size: 50px;
    font-weight: 600;
    line-height: 62px;
    margin-bottom: 20px;
}
.service__title p{
    color: #1d1d24bf;
    font-size: 18px;
    line-height: 30px;
}
.service__content .row__item{
    padding: 0 15px;
}
.card:hover{
    transform: translateY(-5px);
}
.card{
    padding: 50px;
    background: #f6f6f6;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    transition: all .5s;
    cursor: pointer;
}
.card i{
    margin-bottom: 23px;
    font-size: 47px;
}
.row__item:nth-child(1) i{
    color: #FD4766;
}
.row__item:nth-child(2) i{
    color: #337DFF;
}
.row__item:nth-child(3) i{
    color: #12d8df;
}
.row__item:nth-child(4) i{
    color: #59C98D;
}
.row__item:nth-child(5) i{
    color: #6F41F6;
}
.row__item:nth-child(6) i{
    color: #357FF6;
}
.card h3{
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 20px;
}
.card p{
    margin: 0;
}

/* project */
#project{
    padding: 120px 0;
    background-image:url(../img/bg-image-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.project__title{
     text-align: center;
}
.project__title span{
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%,#FD4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.project__title h2{
    font-size: 50px;
    font-weight: 600;
    line-height: 62px;
    margin-bottom: 20px;
}
.project__title p{
    color: #1d1d24bf;
    font-size: 18px;
    line-height: 30px;
}
#project .row__item{
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.65s;
}
#project .row__item:hover{
    transform: translateY(-10px);
    box-shadow: 0 25px 55px #fd476638;
}
.project__content .row__item::before{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 1;
    content: '';
    background: linear-gradient(to bottom, #0f0f0f00,#0f0f0fbf 100%);
    transition: all 0.65s;
    cursor: pointer;
}
.project__content .row__item::after{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 1;
    content: '';
    background: linear-gradient(to bottom, #00000000,#FD4766  100%);
    transition: all 0.65s;
    cursor: pointer;
    opacity: 0;
}
.project__content .row__item:hover::before{
    opacity: 0;
}
.project__content .row__item:hover::after{
    opacity: 1;
}
.row__item:hover .project__heading{
    transform: translateY(-62px);
}
.row__item:hover .project__hover{
    opacity: 1;
    transform: translateY(0);
}
.project__img a img{
    width: 100%;
    border-radius: 10px;
}
.row__item:hover .project__img a img{
    transform: scale(1.1);
    transition: all 1s ease;
}
.project__inner{
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 30px 30px;
    z-index: 2;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
}
.project__inner .project__heading{
    transform: translateY(0);
    transition: all  0.65s;
}
.project__inner .project__heading a{
    color: #ffffff;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.project__inner .project__heading h4{
    color: #ffffff;
}
.project__inner .project__hover{
    max-width: 80%;
    position: absolute;
    opacity: 0;
    bottom: 35px;
    transition: all 0.18s;
    transform: translateY(20px);
}
.project__inner .project__hover p{
    color: #ffffff;
    opacity: 0.7;
}
.project__button{
    margin-top: 60px;
}
.project__button a{
    border: 2px solid #ffffff33;
    background-color: #FD4766;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
}
.project__button a:hover{
    border: 2px solid #FD4766;
    color: #FD4766;
    background-color: transparent;
}

/* About */
#about{
    padding: 120px 0;
}
.about__img img{
    width: 100%;
    border-radius: 8px;
}
.about__inner .about__title span{
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%,#FD4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.about__inner .about__title h2{
    font-size: 50px;
    font-weight: 600;
    line-height: 62px;
    margin-bottom: 20px;
}
.about__inner .about__title p{
    color: #1d1d24bf;
}
.about__inner .nav.nav-tabs{
    border-radius: 50em;
    border: 1px solid #e6e6e6;
    width: 100%;
}
.about__inner .nav-tabs .nav-item a{
    cursor: pointer;
    border-radius: 50em;
    padding: 13px 34px;
    font-size: 16px;
    color: #1d1d24bf;
    font-weight: 600;
    display: inline-block;
    transition: all 0.3s;
    margin: -1px -2px -1px;
}
.about__inner .nav-tabs .active{
    background-color: #FD4766 !important;
    color:#fff !important;
}
.tab-content .tab-pane{
    padding-top: 20px;
}
.tab-content .about__tab__content h4{
    color: #1f1f25;
    margin-bottom: 15px;
    font-size: 24px;
}
.tab-content .about__tab__content ul li{
    color: #7e7e7e;
    font-size: 16px;
    margin-bottom: 10px;
}
.tab-content .about__tab__content ul li svg{
    margin-right: 5px;
    color: #FD4766;
}
.tab-content .tab-pane p{
    font-weight: 300;
    color: #717173;
    font-size: 18px;
}
.tab-content .tab-pane p:first-of-type{
    margin-bottom: 30px;
}
.tab-content .tab-pane p:last-of-type{
    margin-bottom: 0;
}

/* Testimonial */
#testimonial{
    background: #f9f9f9;
    padding: 120px;
}
.testimonial__item .testimonial__inner{
    padding-bottom: 16px;
}
.testimonial__item .testimonial__inner p{
    font-size: 28px;
    color: #18181b;
    font-weight: 500;
    position: relative;
    z-index: 2;
}
.testimonial__item .testimonial__inner p::before{
    content: "";
    position: absolute;
    width: 177px;
    height: 100%;
    background-image: url(../img/image-1.png);
    opacity: 1;
    background-repeat: no-repeat;
    z-index: -1;
    left: -64px;
    top: -57px;
}
.testimonial__item .testimonial__author h6{
    font-size: 18px;
    color: #8c8c8c;
    line-height: 50px;
    font-weight: 300;
}
.testimonial__item .testimonial__author span{
    color: #FD4766;
    text-transform: uppercase;
    font-weight: 500;
}
.testimonial-thumb-wrapper.testimonial__thumb{
    border: none;
}
.testimonial-thumb-wrapper.testimonial__thumb li{
    padding-left: 15px;
    padding-right: 15px;
    flex-basis: 33.33%;
    margin-bottom: 30px;
    outline: none;
    cursor: pointer;
}
.testimonial-thumb-wrapper.testimonial__thumb li a .thumb__img{
    position: relative;
}
.testimonial-thumb-wrapper.testimonial__thumb li a .thumb__img img{
    border-radius: 6px;
    width: 100%;
    max-height: 140px;
    min-height: 140px;
    object-fit: cover;
    transition: all 0.3s;
    position: relative;
}
.testimonial-thumb-wrapper.testimonial__thumb li a .thumb__img::after{
    position: absolute;
    content: "";
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    border-radius: 6px;
    background-color:#ffffff80;
    transition: all 0.3s;
}
.testimonial-thumb-wrapper.testimonial__thumb li a.active .thumb__img img{
    transform: scale(1.1);
    /* object-fit: contain; */
    border-radius: 6px;
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 10%);
}
.testimonial-thumb-wrapper.testimonial__thumb li a.active .thumb__img::after{
    background-color: #ffffff00;
}
.nav-link.active,
.nav-tabs .nav-link.active,
.nav-item.show .nav-link,.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border: none;
    background-color: transparent;
}
.nav-link{
    padding: 0;
}

/* News */

#news{
    padding-top: 120px;
    padding-bottom: 80px;
    background-color: #fff;
}
.news__title span{
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%,#FD4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.news__title h2{
    font-size: 50px;
    font-weight: 600;
    line-height: 62px;
    margin-bottom: 20px;
}
.news__title p{
    font-weight: 300;
    color: #717173;
    font-size: 18px;
    margin-bottom: 0;
}
.news__content{
    margin-top: 30px;
}
.news__items{
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.65s;
    position: relative;
    z-index: 2;
}
.news__items::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 1;
    background: linear-gradient(to bottom, #0f0f0f00, #0f0f0fbf 100%);
    transition: all 0.65s;
    cursor: pointer;
}
.news__items:hover::before{
    opacity: 0;
}
.news__items::after{
    content: "";
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 1;
    cursor: pointer;
    transition: all 0.65s;
    background: linear-gradient(to bottom, #00000000, #FD4766 100%);;
}
.news__items:hover::after{
    opacity: 1;
}
.news__items:hover{
    transform: translateY(-10px);
    box-shadow: 0 25px 55px #fd476638;
}
.news__items .news__img img{
    width: 100%;
    border-radius: 10px;
    transition: all 1s;
}
.news__items:hover .news__img img{
    transform: scale(1.1);
}
.news__inner{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 30px 30px;
    width: 100%;
    z-index: 2;
}
.news__inner .news__heading{
    transition: all 0.65s;
}
.news__items:hover .news__inner .news__heading{
    transform: translateY(-62px);
}
.news__inner .news__heading a{
    color: #fff;
    opacity: 0.7;
    display: inline-block;
    margin: 5px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.news__inner .news__heading h4{
    color: #fff;
    margin-bottom: 0;
}
.news__inner .inner__btn{
    position: absolute;
    bottom: 35px;
    margin-top: 10px;
    transform: translateY(20px);
    transition: all 0.18s;
    opacity: 0;
}
.news__items:hover .news__inner .inner__btn{
    transform: translateY(0);
    opacity: 1;
}
.news__inner .inner__btn a{
    border: 2px solid #ffffff33;
    color: #fff;
    padding: 0 23px;
    height: 40px;
    display: inline-block;
    line-height: 34px;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    transition: all 0.3s;
}
.news__inner .inner__btn a:hover{
    border: 2px solid #fd4766;
    background: #fd4766;
    transform: translateY(-3px);
}
#news .news__btn{
    text-transform: uppercase;
    margin-top: 60px;
}
.news__btn a{
    border: 2px solid #ffffff33;
    background-color: #FD4766;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
}
.news__btn a:hover{
    border: 2px solid #FD4766;
    color: #FD4766;
    background-color: transparent;
}

/* clients */
#clients{
    padding: 120px 0;
    background-color: #f9f9f9;
}
.clients__title span{
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 18px;
    font-size: 16px;
    margin-bottom: 12px;
    background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%,#FD4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}
.clients__title h2{
    font-size: 50px;
    font-weight: 600;
    line-height: 62px;
    margin-bottom: 20px;
}
.clients__title p{
    font-weight: 300;
    color: #717173;
    font-size: 18px;
    margin-bottom: 0;
}
.clients__item{
    margin-top: 40px;
}
.brand__style{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-left: 1px solid #0000000d;
    border-bottom: 1px solid #0000000d;
}
.brand__style li{
    flex-basis: 33.33%;
    text-align: center;
    height: 214px;
    line-height: 214px;
    cursor: pointer;
    border:1px solid #0000000d;
    transition: all 0.3s;
}
.brand__style li img{
    opacity: 0.8;
    transition: 0.3s;
    max-height: 110px;
    max-width: 150px;
}
.brand__style li:hover{
    background-color: #FD4766;
    transform: scale(1.1);
    border-radius: 6px;
}
footer{
    background: #010001;
}
.footer__top{
    padding: 70px 0;
}
.footer__top .container{
    position: relative;
}
.footer__top .container::after{
    position: absolute;
    content: "";
    background-color: #ffffff33;
    width: 100%;
    height: 1px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -70px;
}
.footer__top .container h2{
    margin: 0;
}
.footer__top__btn{
    border: 2px solid #ffffff33;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 26px 60px;
    border-radius: 500px;
    display: inline-block;
    font-weight: 500;
    transition: all .4s ease-in-out;
}
.footer__top__btn:hover{
    border: 2px solid #FD4766;
    background-color: #FD4766;
    color: #fff;
}
.footer__bot{
    padding: 70px 0;
}
.footer__bot .row .footer__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.footer__bot .row .footer__text img{
    max-height: 60px;
}
.footer__bot .footer__text .logo__footer{
    margin-bottom: 30px;
}
.footer__bot .footer__text p{
    color: #757575;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: 400;
}
.footer__bot .footer__text p a{
    color: #757575;
    position: relative;
}
.footer__bot .footer__item h4{
    font-size: 20px;
    margin-bottom: 30px;
    color: #fff;
}
.footer__bot .footer__item ul li {
    color: #757575;
    font-size: 16px;
}
.footer__bot .footer__item ul li + li{
    margin-top: 13px;
}
.footer__bot .footer__item ul li a{
    padding: 5px 0;
    color: #757575;
    font-size: 16px;
    position: relative;
}
.footer__bot .footer__item ul li a:hover,
.footer__bot .footer__text p a:hover{
    color: #FD4766;
}
.footer__bot .footer__item ul li a::after,
.footer__bot .footer__text p a::after{
    content: "";
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    position: absolute;
    transition: all 0.3s;
    background: linear-gradient(120deg, #1C99FE 20.69%, #7644FF 50.19%, #FD4766 79.69%);
}
.footer__bot .footer__item ul li a:hover:after,
.footer__bot .footer__text p a:hover:after{
    width: 100%;
}
.footer__bot .footer__icon ul li {
    display: inline-block;
    margin: 6px;
    transition: all 0.3s;
}
.footer__bot .footer__icon ul li:hover {
    transform: translateY(-3px);
}
.footer__bot .footer__icon ul li a{
    width: 30px;
    height: auto;
    text-align: left;
    line-height: inherit;
    font-size: 16px;
    color: #c6c9d8bf;
}
.footer__bot .footer__icon ul li:hover a{
    color: #fff;
}
.backtotop{
    height: 46px;
    width: 46px;
    line-height: 46px;
    border-radius: 50%;
    text-align: center;
    color: #FD4766;
    box-shadow:inset 0px 0px 0px 2px #FD4766 !important;
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 20px;
    display: block;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
}
.backtotop:hover{
    color: #FD4766;
}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}
.cd-top--fade-out {
    opacity: 1;
}